@font-face {
    font-family: myAntonioFont;
    src: url(/assets/fonts/Antonio-Regular.ttf);
}

:root {
    --primaryColor: #070724;
    --greyColor: #7F7F8D;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

li:hover,
a:hover {
    cursor: pointer;
}

body {

    background-color: var(--primaryColor);
    background-image: url(/assets/images/background-stars.svg);
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

header h3 {
    font-size: 1.5rem;
}

header div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
}

.menu-icon {
    width: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}


section {
    /* padding: 4rem 4rem 2rem; */
    padding: 4rem 2rem 2rem 2rem;
}

section .planet-name {
    font-size: 3rem;
}

section p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 25px;
    color: var(--greyColor);
}

.wikipedia-link {
    margin-top: 1rem;
}

.wikipedia-link span {
    color: grey;
}

.wikipedia-link a {
    color: var(--greyColor);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem 2rem;
}

.cards div {
    border: 1px solid white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.cards h4 {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: bolder;
    color: var(--greyColor);
}

/* Days */
.cards div p {
    font-size: 1.5rem;
    font-family: myAntonioFont;
}

.button-container,
.tablet-nav,
.desktop-nav {
    display: none;
}


#geology {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40%;
    height: 196px;
    width: 163px;
    display: none;
    /* visibility: none; */
}



@media (min-width:769px) {

    .line,
    .menu-icon,
    .mobile-nav {
        display: none;
    }

    .button-container,
    .tablet-nav {
        display: flex;
    }

    header div {
        justify-content: center;
    }

    .tablet-nav {
        width: 100%;
        justify-content: space-between;
        padding: 0 3rem 2rem 3rem;

    }

    .tablet-nav li {
        color: var(--greyColor);
        font-family: myAntonioFont;
        font-size: 1.2rem;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;
        margin-top: 3rem;
    }

    section .content {
        text-align: start;
        justify-content: start;
        align-items: start;
        width: 50%;
        margin-top: 0;

    }

    section .content h1 {
        font-size: 4rem;
        text-align: left;
        font-family: myAntonioFont;
    }

    section .content p {
        line-height: 170%;
        font-size: 1rem;
        text-align: justify;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 4rem;
        width: 40%;

    }

    .button-container button {
        border: 1px solid white;
        padding: 1rem;
        display: flex;
        background-color: transparent;
    }

    .button-container button span {
        margin-right: 20px;
    }

    button:hover {
        cursor: pointer;
        background-color: #34344C;
    }

    .cards {
        flex-direction: row;
        flex-grow: 1;
    }

    .cards div {
        flex-direction: column;
        align-items: start;
        width: 100%;
        padding: 1rem;
    }

    .cards div:not(:last-child) {
        margin-right: 1rem;

    }

    .cards div p {
        margin-top: 10px;
    }

}

@media (min-width:1074px) {
    .tablet-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        width: 30rem;
        justify-content: space-between;
    }

    .desktop-nav li {
        font-size: 0.7rem;
    }

    header div {
        justify-content: space-between;
        align-items: center;
    }

    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 0 5rem;
        max-width: 87.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .content img {
        margin-top: 12%;
    }

    section {
        flex-direction: column;
        margin-top: 0;
        padding-right: 0;
        padding-left: 10%;
    }

    section .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;

    }

    .button-container {
        width: 100%;
        max-width: 30rem;
        margin-top: 2rem;

    }

    .button-container button {
        margin-top: 1rem;
    }

    #planet-image {
        width: 25rem;
    }

    .cards {
        padding: 3rem 5rem;
        max-width: 74rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 87.5rem;
    }

    .cards div {
        padding: 2rem;
    }



}